@charset "UTF-8";

#container{
	width: 100%;

}

#contents{
	display: flex;
	justify-content: left;
	font-style: oblique;
	font-weight: 500;
}

#maintext{
	background-color: white;
	margin: 20px;
	top: 60%;
	left: 10%;
	right: 10%;
	bottom:20%;
	padding: 20px;
	width: 70%;
	height: 100px;
	position: absolute;
}


left{
	width: 70%;
	float: left;
	position: relative;
}

right{
	width: 30%;
	display: flex;
	flex-direction: column;
	float: left;
}

right-upper{
	height: 50%;
	background-color: aquamarine;
	padding: 50px;
	text-align: left;
}

right-lower{
	height: 50%;
	background-color: pink;
	padding: 50px;
	text-align: center;
}

button{
	background-color: yellow;
	border-radius: 1.0px;
	cursor: pointer;
}

